pensjon-krav-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/krav/v1/krav.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="krav" targetNamespace="http://nav.no/tjeneste/domene/pensjon/krav/v1" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/krav/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/domene/pensjon/krav/v1" xmlns:feil="http://nav.no/tjeneste/domene/pensjon/krav/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/krav/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/krav/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/krav/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="vurderKontrollpunkter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="vurderKontrollpunkterRequest" type="meldinger:vurderKontrollpunkterRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="vurderKontrollpunkterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="vurderKontrollpunkterResponse" type="meldinger:vurderKontrollpunkterResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="vurderKontrollpunkterKanIkkeKontrollereInstitusjonsoppholdFault" type="feil:KanIkkeKontrollereInstitusjonsopphold"/>
      <xsd:element name="vurderKontrollpunkterSamhandlerIkkeFunnetFault" type="feil:SamhandlerIkkeFunnet"/>
      <xsd:element name="vurderKontrollpunkterKanIkkeKontrollereUtlandsoppholdFault" type="feil:KanIkkeKontrollereUtlandsopphold"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fullforKontroll">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fullforKontrollRequest" type="meldinger:fullforKontrollRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fullforKontrollResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fullforKontrollResponse" type="meldinger:fullforKontrollResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="vurderKontrollpunkterRequest">
    <wsdl:part element="tns:vurderKontrollpunkter" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="vurderKontrollpunkterResponse">
    <wsdl:part element="tns:vurderKontrollpunkterResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="vurderKontrollpunkterKanIkkeKontrollereInstitusjonsoppholdFault">
    <wsdl:part element="tns:vurderKontrollpunkterKanIkkeKontrollereInstitusjonsoppholdFault" name="KanIkkeKontrollereInstitusjonsoppholdFault">
      <wsdl:documentation>&lt;p&gt;Feil som kastes dersom man ikke kan kontrollere institusjonsopphold. Saken sendes til manuell behandling.&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="vurderKontrollpunkterSamhandlerIkkeFunnetFault">
    <wsdl:part element="tns:vurderKontrollpunkterSamhandlerIkkeFunnetFault" name="SamhandlerIkkeFunnetFault"/>
  </wsdl:message>
  <wsdl:message name="vurderKontrollpunkterKanIkkeKontrollereUtlandsoppholdFault">
    <wsdl:part element="tns:vurderKontrollpunkterKanIkkeKontrollereUtlandsoppholdFault" name="KanIkkeKontrollereUtlandsoppholdFault"/>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="fullforKontrollRequest">
    <wsdl:part element="tns:fullforKontroll" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="fullforKontrollResponse">
    <wsdl:part element="tns:fullforKontrollResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Krav_v1">
    <wsdl:operation name="vurderKontrollpunkter">
      <wsdl:documentation>&lt;p&gt;Operasjonen finner siste gjeldende vedtakId, og tilhørende sakId, for en gitt ytelse.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:vurderKontrollpunkterRequest"/>
      <wsdl:output message="tns:vurderKontrollpunkterResponse"/>
      <wsdl:fault message="tns:vurderKontrollpunkterKanIkkeKontrollereInstitusjonsoppholdFault" name="vurderKontrollpunkterFault"/>
      <wsdl:fault message="tns:vurderKontrollpunkterSamhandlerIkkeFunnetFault" name="vurderKontrollpunkterFault1"/>
      <wsdl:fault message="tns:vurderKontrollpunkterKanIkkeKontrollereUtlandsoppholdFault" name="vurderKontrollpunkterFault2"/>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:documentation>&lt;p&gt;Ping-tjeneste for å sjekke at KravService hos PEN er oppe.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:pingRequest"/>
      <wsdl:output message="tns:pingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="fullforKontroll">
      <wsdl:documentation>&lt;p&gt;Tjenesten benyttes som en del av grunnlags- og kontrollpunktssjekken i PPEN003-S4, og utgjør fullføringen av kravkontrollen, før vedtaket går videre i behandlingen, evt. tas ut til manuell behandling.&lt;/p&gt;&lt;p&gt;Kaller PROPEN2202&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:fullforKontrollRequest"/>
      <wsdl:output message="tns:fullforKontrollResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>