pensjon-behandleEndretForventetArbeidsinntekt-tjenestespesifikasjon/src/main/wsdl/no/nav/domene/pensjon/prosesser/behandleEndretForventetArbeidsinntekt/behandleEndretForventetArbeidsinntekt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleEndretForventetArbeidsinntekt" targetNamespace="http://nav.no/domene/pensjon/prosesser/behandleEndretForventetArbeidsinntekt/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/domene/pensjon/prosesser/behandleEndretForventetArbeidsinntekt/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/domene/pensjon/prosesser/behandleEndretForventetArbeidsinntekt/v2" xmlns:meldinger="http://nav.no/domene/pensjon/prosesser/behandleEndretForventetArbeidsinntekt/meldinger/v2">
      <xsd:import namespace="http://nav.no/domene/pensjon/prosesser/behandleEndretForventetArbeidsinntekt/meldinger/v2" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="behandleEndretForventetArbeidsinntekt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:BehandleEndretForventetArbeidsinntektRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="behandleEndretForventetArbeidsinntektResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="behandleEndretForventetArbeidsinntektOgSendResultat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:BehandleEndretForventetArbeidsinntektOgSendResultatRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="behandleEndretForventetArbeidsinntektOgSendResultatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:BehandleEndretForventetArbeidsinntektOgSendResultatResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="behandleEndretForventetArbeidsinntektResponse">
    <wsdl:part name="parameters" element="tns:behandleEndretForventetArbeidsinntektResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="behandleEndretForventetArbeidsinntektRequest">
    <wsdl:part name="parameters" element="tns:behandleEndretForventetArbeidsinntekt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="behandleEndretForventetArbeidsinntektOgSendResultatResponse">
    <wsdl:part name="parameters" element="tns:behandleEndretForventetArbeidsinntektOgSendResultatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="behandleEndretForventetArbeidsinntektOgSendResultatRequest">
    <wsdl:part name="parameters" element="tns:behandleEndretForventetArbeidsinntektOgSendResultat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleEndretForventetArbeidsinntekt_v2">
    <wsdl:operation name="behandleEndretForventetArbeidsinntekt">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:behandleEndretForventetArbeidsinntektRequest">
    </wsdl:input>
      <wsdl:output message="tns:behandleEndretForventetArbeidsinntektResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="behandleEndretForventetArbeidsinntektOgSendResultat">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:behandleEndretForventetArbeidsinntektOgSendResultatRequest">
    </wsdl:input>
      <wsdl:output message="tns:behandleEndretForventetArbeidsinntektOgSendResultatResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
