pensjon-consumer-norskpensjon-privatpensjonsrettighetstjeneste/src/main/wsdl/nav/2_0/privatpensjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
=================================================================
	Denne filen er en del av
	Norsk Pensjons web service kontrakter for NAV versjon 2.0
================================================================= 
-->
		   
<!--
================================================================================
=== 1) Her beskrives alle tjenestespesifikke navnerom (name spaces).         ===
================================================================================
-->
<wsdl:definitions name="PrivatPensjonsRettighetsTjenesteV2_0"
			  targetNamespace="http://norskpensjon.no/api/pensjon/V2_0"
			  xmlns:tns="http://norskpensjon.no/api/pensjon/V2_0"
			  xmlns:typ="http://norskpensjon.no/api/pensjon/V2_0/typer"
			  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			  xmlns:xs="http://www.w3.org/2001/XMLSchema"
			  xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/">

<!--
================================================================================
=== 2) Her beskrives datatypene som sendes mellom klient og tjener.          ===
================================================================================
-->
	<wsdl:types>
		<xs:schema targetNamespace="http://norskpensjon.no/api/pensjon/V2_0">
			<xs:import namespace="http://norskpensjon.no/api/pensjon/V2_0/typer" schemaLocation="privatpensjonSchema.xsd"/>
		</xs:schema>
	</wsdl:types>

<!--
================================================================================
=== 3) Her beskrives alle meldinger som sendes mellom klient og tjener.      ===
================================================================================
-->

	<wsdl:message name="privatpensjonForespoersel">
		<wsdl:part name="request" element="typ:rettighetshaver"/>
	</wsdl:message>

	<wsdl:message name="privatpensjonSvar">
		<wsdl:part name="response" element="typ:privatPensjonsrettigheter"/>
	</wsdl:message>
    
    <!-- Feiltyper -->
	<wsdl:message name="RequestTimedOut">
		<wsdl:part name="fault" element="typ:requestTimedOut"/>
	</wsdl:message>

	<wsdl:message name="ServiceUnavailable">
		<wsdl:part name="fault" element="typ:serviceUnavailable"/>
	</wsdl:message>

	<wsdl:message name="NotAuthorized">
		<wsdl:part name="fault" element="typ:notAuthorized"/>
	</wsdl:message>

<!--
================================================================================
=== 4) Her beskrives grensesnittet og alle operasjonene.                     ===
================================================================================
-->
	<wsdl:portType name="PrivatPensjonPortTypeV2_0">
	
		<wsdl:operation name="hentPrivatePensjonsRettigheter">
			<wsdl:input message="tns:privatpensjonForespoersel"/>
			<wsdl:output message="tns:privatpensjonSvar"/>			
			<wsdl:fault name="RequestTimedOut" message="tns:RequestTimedOut"/>
			<wsdl:fault name="ServiceUnavailable" message="tns:ServiceUnavailable"/>
			<wsdl:fault name="NotAuthorized" message="tns:NotAuthorized"/>
		</wsdl:operation>
		
	</wsdl:portType>

<!--
================================================================================
=== 5) Her beskrives det hvordan tjenesten skal sendes.                      ===
================================================================================
-->
	<wsdl:binding name="PrivatPensjonBinding" type="tns:PrivatPensjonPortTypeV2_0">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="hentPrivatePensjonsRettigheter">
			<soapbind:operation soapAction="hentPrivatePensjonsRettigheter"/>
			<wsdl:input>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="RequestTimedOut">
				<soapbind:fault name="RequestTimedOut" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceUnavailable">
				<soapbind:fault name="ServiceUnavailable" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="NotAuthorized">
				<soapbind:fault name="NotAuthorized" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>

<!--
================================================================================
=== 6) Her beskrives det hvordan tjenesten kan kalles.                       ===
================================================================================
-->
	<wsdl:service name="PrivatPensjonsRettighetsTjenesteV2_0">
		<wsdl:port name="privatpensjonPort" binding="tns:PrivatPensjonBinding">
			<soapbind:address location=""/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
