pensjon-behandleAutomatiskOmregning-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/behandleAutomatiskOmregning.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="behandleAutomatiskOmregning" targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/behandleAutomatiskOmregning/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="automatiskOmregningAvYtelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:AutomatiskOmregningAvYtelseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="automatiskOmregningAvYtelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:AutomatiskOmregningAvYtelseResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="automatiskOmregningAvYtelseRequest">
    <wsdl:part name="parameters" element="tns:automatiskOmregningAvYtelse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="automatiskOmregningAvYtelseResponse">
    <wsdl:part name="parameters" element="tns:automatiskOmregningAvYtelseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleAutomatiskOmregning_v1">
    <wsdl:operation name="automatiskOmregningAvYtelse">
<wsdl:documentation> </wsdl:documentation>
      <wsdl:input message="tns:automatiskOmregningAvYtelseRequest">
    </wsdl:input>
      <wsdl:output message="tns:automatiskOmregningAvYtelseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
