pensjon-rekonverterUPTilUT-tjenestespesifikasjon/src/main/wsdl/no/nav/domene/pensjon/prosesser/rekonverterUPTilUT/rekonverterUPTilUT.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="rekonverterUPTilUT" targetNamespace="http://nav.no/domene/pensjon/prosesser/rekonverterUPTilUT/v1" xmlns:tns="http://nav.no/domene/pensjon/prosesser/rekonverterUPTilUT/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/domene/pensjon/prosesser/rekonverterUPTilUT/v1" xmlns:meldinger="http://nav.no/domene/pensjon/prosesser/rekonverterUPTilUT/meldinger/v1">
      <xsd:import namespace="http://nav.no/domene/pensjon/prosesser/rekonverterUPTilUT/meldinger/v1" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="rekonverterUPTilUT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:RekonverterUPTilUTRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rekonverterUPTilUTResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="plassholder" type="xsd:anyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rekonverterUPTilUTRequest">
    <wsdl:part element="tns:rekonverterUPTilUT" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="rekonverterUPTilUTResponse">
    <wsdl:part element="tns:rekonverterUPTilUTResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="RekonverterUPTilUT">
    <wsdl:operation name="rekonverterUPTilUT">
      <wsdl:documentation>&lt;p&gt;Starter den automatiske prosessen PPEN010. Prosessen skal støtte rekonvertering fra uførepensjon til uføretrygd i de tilfeller der det har blitt en endring på uførepensjonen, etter at den er blitt konvertert til uføretrygd.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:rekonverterUPTilUTRequest"/>
      <wsdl:output message="tns:rekonverterUPTilUTResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>