nav-barnetillegg-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/virksomhet/barnetillegg/v1/barnetillegg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="barnetillegg" targetNamespace="http://nav.no/tjeneste/virksomhet/barnetillegg/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/barnetillegg/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/barnetillegg/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/barnetillegg/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/barnetillegg/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/barnetillegg/v1/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/barnetillegg/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="HentBarnetilleggListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentBarnetilleggListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentBarnetilleggListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentBarnetilleggListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HentBarnetilleggListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="HentBarnetilleggListepersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="HentBarnetilleggListeperiodeIkkeGyldig" type="feil:PeriodeIkkeGyldig"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HentBarnetilleggListe_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:HentBarnetilleggListesikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentBarnetilleggListe_periodeIkkeGyldig">
    <wsdl:part name="periodeIkkeGyldig" element="tns:HentBarnetilleggListeperiodeIkkeGyldig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentBarnetilleggListeRequest">
    <wsdl:part name="parameters" element="tns:HentBarnetilleggListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentBarnetilleggListe_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:HentBarnetilleggListepersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HentBarnetilleggListeResponse">
    <wsdl:part name="parameters" element="tns:HentBarnetilleggListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Barnetillegg_v1">
    <wsdl:operation name="HentBarnetilleggListe">
      <wsdl:input message="tns:HentBarnetilleggListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:HentBarnetilleggListeResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:HentBarnetilleggListe_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="periodeIkkeGyldig" message="tns:HentBarnetilleggListe_periodeIkkeGyldig">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:HentBarnetilleggListe_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
