pensjon-vedtak-v1-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/vedtak/v1/vedtak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="vedtak" targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/vedtak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/domene/pensjon/vedtak/v1" xmlns:meldinger="http://nav.no/tjeneste/domene/pensjon/vedtak/v1/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/domene/pensjon/vedtak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnVedtakIdOgSakId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:finnVedtakIdOgSakIdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnVedtakIdOgSakIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:finnVedtakIdOgSakIdResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnVedtakIdOgSakIdResponse">
    <wsdl:part name="parameters" element="tns:finnVedtakIdOgSakIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnVedtakIdOgSakIdRequest">
    <wsdl:part name="parameters" element="tns:finnVedtakIdOgSakId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Vedtak_v1">
    <wsdl:operation name="finnVedtakIdOgSakId">
<wsdl:documentation>&lt;p&gt;Operasjonen finner siste gjeldende vedtakId, og tilhørende sakId, for en gitt ytelse.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:finnVedtakIdOgSakIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnVedtakIdOgSakIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
