pensjon-iverksetting-tjenestespesifikasjon/src/main/wsdl/no/nav/domene/pensjon/tjenester/iverksetting/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/domene/pensjon/tjenester/iverksetting/meldinger/v2" version="2.0" xmlns:meldinger="http://nav.no/domene/pensjon/tjenester/iverksetting/meldinger/v2" xmlns:oppdrag="http://nav.no/virksomhet/okonomi/oppdrag/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/virksomhet/okonomi/oppdrag/v2" schemaLocation="../../../../../virksomhet/okonomi/oppdrag/oppdrag.xsd"/>
  <xsd:complexType name="BehandleOppdragKvitteringUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenererOppdragsmeldingRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtaksId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder unik identifikasjon av vedtaket det skal genereres Oppdragstrensaksjon for&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aksjonsKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder kode som beskriver hva slags type melding som skal returneres (simulering, regulær oppdatering, fnr-endring)&lt;/p&gt;&lt;p&gt; &lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;i&gt;&lt;/i&gt;&lt;b&gt;&lt;i&gt;&lt;/i&gt;Kode&lt;/b&gt;&lt;b&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;&lt;/b&gt;&lt;b&gt;Beskrivelse&lt;i&gt;&lt;/i&gt;&lt;i&gt;&lt;/i&gt;&lt;/b&gt;&lt;i&gt;&lt;/i&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;oppdat&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt; Lager melding som oppdaterer OS, kan innebære både opprettelse av nytt oppdrag eller endring tillegg på eksisterende &lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;simuler&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Lager melding som kan sendes til OS for å simulere utbetalinger&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;endreFnrBruker&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Lager melding som endrer brukers fnr for en bestemt sak/oppdrag&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;endreFnrPengemottaker&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Lager melding som endrer annen pengemottakers fnr for en bestemt sak/oppdrag&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;stopp&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Lager melding som oppdaterer OS. Ugyldiggjør attestant. Medfører stopp av utbetalinger. &lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;reaktiviser&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Lager melding som oppdaterer OS. Gyldiggjør attestant. Medfører gjenoppstart av utbetalinger.&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simulereFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato det skal simuleres fra, ved tomt felt vil det bli simulert for neste periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simulereTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato det skal simuleres til, ved tomt felt vil det bli simulert for neste periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder saksnummer for den saken det skal endres fnr for, påkrevd ved endring av fnr&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nyttFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder nytt fnr for den aktuelle brukeren, påkrevd ved endring av fnr&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukKjoreplan" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvis satt bestemmer den hva verdien brukKjoreplan på Oppdragslinjene skal settes til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="BehandleOppdragKvitteringResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="osKvittOk" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om OS kvittering er ok eller ikke (true eller false)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:BehandleOppdragKvitteringUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenererOppdragsmeldingResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="oppdragsmelding" type="oppdrag:Oppdragsmelding"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:GenererOppdragsmeldingUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenererOppdragsmeldingUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IverksettTilbakekrevingsvedtakRequest">
    <xsd:sequence>
      <xsd:element name="vedtakId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik Id for vedtaket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BehandleOppdragKvitteringRequest">
    <xsd:sequence>
      <xsd:element name="oppdragsmelding" type="oppdrag:Oppdragsmelding">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Inneholder informasjon om transaksjonen som er overført&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>