pensjon-behandleUforetrygd-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/behandleUforetrygd/v2/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/Binding" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/Binding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl_1="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2" location="behandleUforetrygd.wsdl">
    </wsdl:import>
  <wsdl:binding name="BehandleUforetrygd_v2Binding" type="wsdl_1:BehandleUforetrygd_v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="opprettInntektsendringKrav">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/opprettInntektsendringKravRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="apentKravEksisterer">
        <soap:fault name="apentKravEksisterer" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="videreforVilkarsproving">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/videreforVilkarsprovingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beregnUforetrygd">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/beregnUforetrygdRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentBrevbestillingsdataLopendeInntektsavkorting">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/hentBrevbestillingsdataLopendeInntektsavkortingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vurderNyForventetInntekt">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/vurderNyForventetInntektRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vurderEndretYtelse">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/vurderEndretYtelseRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beregnUforetrygdEtteroppgjor">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/beregnUforetrygdEtteroppgjorRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentBrevbestillingsdataTilbakekrevingEtteroppgjor">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/hentBrevbestillingsdataTilbakekrevingEtteroppgjorRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lagreForventetInntektTilInntektskomponenten">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/lagreForventetInntektTilInntektskomponentenRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOgOppdaterForventedeInntekterPaInntektsgrunnlag">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/hentOgOppdaterForventedeInntekterPaInntektsgrunnlagRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleUforetrygd/v2/BehandleUforetrygd_v2/pingRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BehandleUforetrygd_v2">
    <wsdl:port name="BehandleUforetrygd_v2Port" binding="tns:BehandleUforetrygd_v2Binding">
      <soap:address location="http://localhost:9080/pensjon-ws/BehandleUforetrygd"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
