pensjon-behandleSak-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/behandleSak/v2/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Binding" targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/Binding" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/Binding" xmlns:wsdl_1="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="behandleSak.wsdl" namespace="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2"/>
  <wsdl:binding name="BehandleSak_v2Binding" type="wsdl_1:BehandleSak_v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="oppdaterForventedeInntekterPaInntektsgrunnlag">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingoppdaterForventedeInntekterPaInntektsgrunnlag/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrerVedtaksbrev">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingregistrerVedtaksbrev/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettKravoppgave">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingopprettKravoppgave/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="oppdaterKravoppgaveForApneKrav">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingoppdaterKravoppgaveForApneKrav/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vedlikeholdInntektsabonnement">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingvedlikeholdInntektsabonnement/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettGenerellOppgaveVedApentKrav">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingopprettGenerellOppgaveVedApentKrav/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettOppgaveVedYtelseFraAvtaleland">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingopprettOppgaveVedYtelseFraAvtaleland/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BehandleSak_v2">
    <wsdl:port binding="tns:BehandleSak_v2Binding" name="BehandleSak_v2Port">
      <soap:address location="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BindingBehandleSak_v2/BehandleSak_v2Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>