pensjon-behandleSak-v2-tjenestespesifikasjon/src/main/wsdl/no/nav/tjeneste/domene/pensjon/behandleSak/v2/Binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Binding" targetNamespace="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/Binding" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/Binding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl_1="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2" location="behandleSak.wsdl">
    </wsdl:import>
  <wsdl:binding name="BehandleSak_v2Binding" type="wsdl_1:BehandleSak_v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="oppdaterForventedeInntekterPaInntektsgrunnlag">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/oppdaterForventedeInntekterPaInntektsgrunnlagRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrerVedtaksbrev">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/registrerVedtaksbrevRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettKravoppgave">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/opprettKravoppgaveRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="oppdaterKravoppgaveForApneKrav">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/oppdaterKravoppgaveForApneKravRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vedlikeholdInntektsabonnement">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/vedlikeholdInntektsabonnementRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettGenerellOppgaveVedApentKrav">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/opprettGenerellOppgaveVedApentKravRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opprettOppgaveVedYtelseFraAvtaleland">
      <soap:operation soapAction="http://nav.no/tjeneste/domene/pensjon/behandleSak/v2/BehandleSak_v2/opprettOppgaveVedYtelseFraAvtalelandRequest"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BehandleSak_v2">
    <wsdl:port name="BehandleSak_v2Port" binding="tns:BehandleSak_v2Binding">
      <soap:address location="http://localhost:9080/pensjon-tjeneste-behandleSak_v1Web/sca/BehandleSakWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
